<%= render('layouts/errors', :object => @experience) %>

<%= form_for [@skill, @experience] do |f| %>
  <%= f.label :description %>
  <c><%= f.text_area :description %></c>
  <c><p><%= f.submit %></p></c>
<% end %>
