<%= render('layouts/errors', :object => @experience) %>

<%= form_for [@skill, @experience] do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <p><%= f.submit %></p>
<% end %>
